*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700&display=swap') ;
    font-family: "Montserrat";
}

a {
    text-decoration: none;
}

:root {
    --fondoPrimario:  #ffffff; 
    --fondoSecundario: #F6F7FB;
    --pink: #c62a88;
    --green: #ccf6c8;
    --black:rgb(0, 0, 0);
    --pinkSecundario: #ffb6c1;
    --greenSecundario: #91d18b ;
}