/*.header-menu { width: 41%;
    height: 9vh;
    background-color: #FFFFFF;
    width: fit-content;
   

}*/

.header-menu {
    position: fixed;
    width: 100%;
}

ul { padding: 0;
}

ul li { 
    display: inline;
}

ul li a {
    font-size: 17px;
    font-weight: 30;
    text-decoration: none;
    padding: 10px;
    background-color: #ccf6c8 ;
    color: black;
    float: left;
    margin: 3px;
    color: #c62a88;
    text-transform: uppercase;

}

.nav-menu {
    display: flex;
    justify-content:flex-end;
    padding-right: 10%;
   
}

.header-menu {
    background-color: #ccf6c8;
    box-shadow: 0 7px 20px rgba(0, 0 , 0 , .7)

}

/*.li-menu {
    background-color: ;
}
*/