.header-menu {
    position: fixed;
    width: 100%;
}

.ul-menu { 
    padding: 0;
}

.li-menu { 
    display: inline;
}

.a-menu {
    font-size: 17px;
    font-weight: 30;
    text-decoration: none;
    padding: 10px;
    background-color: var(--green);
    color: var(--black);
    float: left;
    margin: 3px;
    color: var(--pink);
    text-transform: uppercase;
}

.nav-menu {
    display: flex;
    justify-content:flex-end;
    padding-right: 10%;
}

.header-menu {
    background-color: var(--green);
    box-shadow: 0 7px 20px rgba(0, 0 , 0 , .7)
}

.a-menu:hover {
    cursor: pointer;
    color: var(--pinkSecundario);
    border-radius: 8%;
}