img {
    display: block;
    width: 100%;
    height: 30vh;
}

.section-proyects {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding: 110px 40px 130px;
    text-align: center;
   background-color: var(--fondoPrimario);
   
}

.container-image{
    margin: 15px;
    height: 15%;
    background-color: var(--fondoPrimario);
    border-radius: 2%;
    border: 1px solid #e0e0e0;
}

.container-image a {
    color: var(--black);
}

.container-image a img {
    border-radius: 2%;
}

.my-proyects {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 3%;
}

.about-misproyects {
    font-size: 20px;
    margin-bottom: 5%;
}

.titulo-proyecto {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

.grilla-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.second-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.thirt-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-proyects{
    width: 300px;
    margin-right: 10%;
    margin-top: 5%;
}

.container-image:hover {
    cursor: pointer;
    border: 1px solid var(--pink);
    color:var(--pink) ;
    transition: 1s all linear
}

.container-image a:hover {
    cursor: pointer;
    border: 1px solid var(--pink);
    color: var(--pink);
}

a {
    transition: 1s all linear;
}

@media (min-width:320px) and (max-width:900px) {
        .section-proyects {
            height: auto;
            width: auto;
        }

        .first-images {
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }

        .second-images {
            flex-direction: column;
            justify-content: center;
        }
        
        .my-proyects {
            font-size: 30px;
        }

        .about-misproyects {
            font-size: 15px;
        }

        .imagen-proyects {
            width: 250px;
        }

        .container-image {
            margin: 0;
        }

}