.section-presentacion {
    background-color:#ffff ;
    display: flex;
    flex-direction: column;


}

/*.imagen-presentacion {
  width: 300px;
  border-radius: 15%;
  padding-left: 800px;
 
  
  
}*/

img {
    display: block;
    width: 100%;
}

.imagen-presentacion {
    max-width: 400px;
    padding-left: 800px;
}

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700&display=swap') ;
    font-family: "Montserrat";
}

.hola {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif ;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
    color: #2e2e31;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    padding-left: 15%;
}

.Erica {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: "Montserrat", sans-serif ;
    font-weight: 900;
    font-style: normal;
    font-size: 55px;
    line-height: 40px;
    color: #8338ec;
    padding-left: 15%;
}
    

.mi-descripcion{
  
    font-size: 16px;
    font-family: "Montserrat", sans-serif ;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #616161;
    padding-left: 15%;
}

.buttom-habilidades {

    font-size: 16px;
    font-family: "Montserrat", sans-serif ;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
    background-color:#8338ec ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto 15px;
    text-decoration: none;
  
    
}
