.section-skills {
    background-color: #F6F7FB;
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}

.section-title-s {
    font-size: 25px;
    font-weight: bold;
}

.skills-grilla {
    display: flex;
    flex-direction: column;
    
}

.skills-part1 {
    display: flex;
    flex-direction: row;
}

.skills-part2 {
    display: flex;
    flex-direction: row;
}

.Skills {
    background-color: white;
    padding: 50px 20px ;
    margin: 10px 10px;
    width: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.Skill-titulo {
    font-size: 25px ;
    font-weight: bold;
    margin: 0;
}

.skill-icon {
    font-size: 60px;

}
